version: '3.8'

services:
  localstack:
    image: localstack/localstack:latest
    environment:
      - SERVICES=serverless,dynamodb,apigateway,lambda
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/data
    ports:
      - 4566:4566
      - 4571:4571

